{
        "mysql": {
                "host": "{{ mariadb_address }}:3306",
                "user": "semaphore_user",
                "pass": "{{ semaphore_mysql_password }}",
                "name": "semaphore"
        },
        "port": "",
        "interface": "",
        "tmp_path": "{{ semaphore_home }}/tmp",
        "cookie_hash": "H4wPXBXzU076MnxuNzQzXZd8TAJTuHRIB+B9+IxsdqY=",
        "cookie_encryption": "CraPX/8I8+zUxQ8LHj2HOgPn+L8w9z7szmz8KSrMLSY=",
        "email_sender": "",
        "email_host": "",
        "email_port": "",
        "web_host": "",
        "ldap_binddn": "",
        "ldap_bindpassword": "",
        "ldap_server": "",
        "ldap_searchdn": "",
        "ldap_searchfilter": "",
        "ldap_mappings": {
                "dn": "",
                "mail": "",
                "uid": "",
                "cn": ""
        },
        "telegram_chat": "",
        "telegram_token": "",
        "concurrency_mode": "",
        "max_parallel_tasks": 0,
        "email_alert": false,
        "telegram_alert": false,
        "ldap_enable": false,
        "ldap_needtls": false,
        "old_frontend": false
 }